$headerH: 40px;

.header{
	height: $headerH;
	text-align: center;
	padding-top: 10px;
}
#content{
    width: calc( 100% - 10px );
    height: calc( 100% - #{$headerH} - 20px );
    position: absolute; //occupies entire space right from the start
    background-color: lightcoral;
    overflow: auto;
    margin: 5px;
    p{
    	white-space: pre-wrap;
    	padding: 10px;
    }
}