@import 'tests/shapeSelector';

.myLink{
    padding: 0 10px;
    font-size: 20px
}

$headerH: 40px;
.header{
	height: $headerH;
	text-align: center;
	padding-top: 10px;
    margin-right: 150px;
    white-space: nowrap;
    z-index: 2;
    position: relative;
    #justDoitValue{
        width: 200px;
    }
    #clearContent{
        display: none;
    }
}
#content{
    width: calc( 100% - 10px );
    height: calc( 100% - #{$headerH} - 30px );
    background-color: lightcoral;
    overflow: auto;
    margin: 5px;
    margin-bottom: 0;
    position: absolute; //occupies entire space right from the start
    bottom: 25px;
    p{
    	white-space: pre-wrap; //preserve tabs and spaces
        word-break: break-all;  //preserve tabs and spaces incase of overflow
    	padding: 10px;
    }

    #template{
        width: calc(100% - 20px );
        height: calc(70% - 20px );
        margin: 10px;
        border: 1px solid black;
    }

    #jjson{
        background-color: whitesmoke;
    }
}

#test_description{
    height: 20px;
    width: calc( 100% - 30px );
    position: absolute;
    bottom: 5px;
    margin: 0 5px;
    background-color: cadetblue;
    color: cornsilk;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}