/* line 3, ../sass/index.scss */
.header {
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

/* line 8, ../sass/index.scss */
#content {
  width: calc( 100% - 10px );
  height: calc( 100% - 40px - 20px );
  position: absolute;
  background-color: lightcoral;
  overflow: auto;
  margin: 5px;
}
/* line 15, ../sass/index.scss */
#content p {
  white-space: pre-wrap;
  padding: 10px;
}
